{
  "plugins": [
    "@babel/plugin-transform-flow-strip-types"
  ],
  "presets": [
    ["@babel/preset-env", {
      "shippedProposals": true,
      "targets": {
        "node": "current"
      }
    }]
  ]
}
